<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MasaSam.Forms.Sample.My.MySettings.QDatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\QDatabase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="MasaSam.Forms.Sample.My.MySettings.QDatabaseConnectionString1"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Q:\QDatabase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="MasaSam.Forms.Sample.My.MySettings.MVDatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MVDatabase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="MasaSam.Forms.Sample.My.MySettings.Database1ConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="MasaSam.Forms.Sample.My.MySettings.MVConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MV.mdb"
      providerName="System.Data.OleDb" />
    <add name="MasaSam.Forms.Sample.My.MySettings.MVConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\My Documents\MV.mdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
