<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="ExifLib" version="1.7.0.0" targetFramework="net48" />
  <package id="MetadataExtractor.StrongName" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1150.38" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="XmpCore.StrongName" version="6.1.10" targetFramework="net48" />
</packages>